@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.add-scrolling-style{
    position: fixed;    
    right: 0;
    left: 0;
    top: 0;
    background-attachment: fixed;
}
.add-scrolling-style2{
    position: static;
}
.another-scroll-style{
    display: inline-block;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.first-display{
    display: none;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.margin-work{
    margin-top: 970px;
}
.overflow-style{
    position: relative;
    width: 100%;
    transition: 1s;

}
.overlfoly-items{
 position: absolute;
 top: 10%;
 left: 0%;
 display: none;
 transition: 1s;
 overflow: hidden;
 width: 100%;
 
}
.add-display-style{
 display: block;
 overflow: hidden;
 transition: 1s;
}
.special-style{    
    transition: 1s;
}
.product-banner-main{
  left: 40%;
}
.product-banner{
  height: 350px;
  width: 100%;
  
}
.products-body{
  background-color: rgba(255,255,255,.72);
  position: fixed;
  transition: 1s;
  z-index: 9999;
  backdrop-filter:saturate(90%) blur(20px);
  width: 100%;
 
}
.slide-body{
   background-image: linear-gradient(135deg,#535353,#000 80%); 
   transition: 800ms;
}
.slick-slide img {
  transition: transform 500ms;   
  margin: 0 auto;
  transform: scale(0.3); 
  height: 300px;
  width: 300px;
}

.slick-slide.slick-active.slick-center.slick-current img , .slide-first-img
 {
  width: 500px; 
  height: 500px; 
  transition: transform 800ms; 
  transform: scale(1); 
  
}
.slick-dots li{
  margin: 0px 4px;
}
.slick-dots li button:before{
  width: 12px;
  content: "";
  background-color: white;
  height: 30px;
  border-radius: 16px ;
  margin: 50px 10px;
  color: white;
  opacity: 1;
 
}
.slick-dots li.slick-active button:before{
  background-color: blue;
}
.slide-add-style{
  position: fixed;
  top: 0;
  transition: 600ms;
  z-index: 1;
  width: 100%;
}
.car-light-body{
 background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
 
}

.light-sec-overflow{
  /* background-color: #000000cb; */
  height: 100vh;
  width: 100%;
  transition: 800ms;
}
.switch-btn-items {
  width: 100px;
  height: 30px;
  border: 2px solid white;
  border-radius: 15px;
  padding: 3px 5px;
}
.switch-btn-abslt {
  background-color: white;
  border-radius: 50%;
  width: 40px;
  height: 30px;
  left: 0;
  transition: 800ms;

}

.switch-btn-body:hover .switch-btn-abslt{
  left: 60px; 
  transition: 800ms;
}
.video-show{
  width: 500px;
  height: 500px;
}
@media  (max-width:920px) {
  .light-sec-overflow{
    background-color: transparent;
  }
  .video-show{
    width: 350px;
    height: 400px;
  }
  .product-banner{
    width: 380px;
    height: 400px;
    transform: scale(1);
  }
  .percent-body{
    height: 100%;
  }
 
}