.card{
    width: 100%;
}
.card-img-body{
    position: relative;
    width: 100%;
    height: 100%;
}
.card-second-image , .card-icons , .card-offer{
    position: absolute;
    top: 0;
      
}
.card-second-image{
    width: 331px;
    height: 334px;
}
.card-icons{
    top: 15px;
     left: 60%;
     display: none;
}

.card-offer{
    left: 1%;
    background-color: red;
    color: white;
    padding: 2px;
    top: 10px;
}
.card-img1{
    width: 331px;
height: 300px;
}
.card-img2{
display: none;
transition: 2s;
width: 331px;
height: 300px;

}
.card-img-body:hover .card-img2  {
display: block;
transition: 2s;
}
.card-img-body:hover .card-icons{
    display: block;
} 


.card-icon{
    border: 1px solid #ddd;
    border-radius: 30px;
    background-color: #fff;
    width: 35px;
    height: 35px;
    transition: .25s;   
    margin: 0 5px;
    opacity: 0.7;
    padding: 6px;
    
    
}
.card-icon:hover{
    background-color: red;    
}