@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
   background-color: white;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
